
.icon_filter:before { content: '\e803'; } /* '' */
.icon_setting:before { content: '\e804'; } /* '' */
.icon_activity:before { content: '\e806'; } /* '' */
.icon_graph:before { content: '\e807'; } /* '' */
.icon_clients:before { content: '\e809'; } /* '' */
.icon_income:before { content: '\e80a'; } /* '' */
.icon_loyalty:before { content: '\e80b'; } /* '' */
.icon_coins:before { content: '\e80c'; } /* '' */
